@import '~bootstrap/scss/bootstrap';

$success-color: #090;
$failure-color: #f00;
$title-color: #389E0D;
$card-background-color: #F5F5F5;

#message {
  text-align: center;
}

.display-weather {
  text-align: center;
}

.success {
  color: $success-color;
}

.failure {
  color: $failure-color;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $title-color;
}

.log-in-forms {
  margin: 0 auto;
  width: 50%;

  >.sign-in-toggle {
    text-align: right;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .col-md-3 {
    background: $card-background-color;
    border-radius: 2px;
    border: 1px solid black;
    // padding: 10px;
    // margin: 2px;

    h2 {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
    h4 {
      font-size: 15px;
      text-align: center;
      border-bottom: solid 1px gray;
    }
    h6 {
      font-size: 12px;
      text-align: center;
    }
    label {
      text-align: center;
    }
    .edit {
      margin-left: 100px;
    }
    .submit {
      margin-left: 65px;
    }
    .delete-round {
      margin-top: 10px;
      border-top: 1px solid gray;

      button {
        margin-top: 10px;
        margin-left: 40px;
      }
    }
  }
}

#collapseChangePw {
  padding-left: 25vw;
  padding-right: 25vw;
}

#collapseCreate {
  padding-left: 25vw;
  padding-right: 25vw;
}
