@import '~bootstrap/scss/bootstrap';

$success-color: #090;
$failure-color: #f00;
// $body-background-color: #fff5ee;
$title-color: #389E0D;

// body {
//   background-color: $body-background-color;
// }

#message {
  text-align: center;
}

.display-weather {
  text-align: center;
}

.success {
  color: $success-color;
}

.failure {
  color: $failure-color;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $title-color;
}

.log-in-forms {
  margin: 0 auto;
  width: 50%;

  >.sign-in-toggle {
    text-align: right;
  }
}

.rounds-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  section {
    border: 1px solid;
    border-radius: 10px;
    width: 250px;
  }
}
