@import '~bootstrap/scss/bootstrap';

$success-color: #090;
$failure-color: #f00;
$body-background-color: #fff5ee;

body {
  background-color: $body-background-color;
}

#message {
  text-align: center;
}

.success {
  color: $success-color;
}

.failure {
  color: $failure-color;
}

h1 {
  font-size: 75px;
  text-align: center;
}

.log-in-forms {
  margin: 0 auto;
  width: 50%;

  >.sign-in-toggle {
    text-align: right;
  }
}

// nav {
//   background-color: #e3f2fd;
// }

.rounds-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  section {
    border: 1px solid;
    border-radius: 10px;
  }
}
